{% extends "base.html" %}
{% block content %}

  <h1>The Holographic Ape</h1>
  <hr>
  <h2> What is this about? What to expect?
  <p>
   This site is an oulet for my thoughts. I find myself not expressing them too much but now i will through this site. I write whatever I feel like and whenever I want. The reason this site is soo plain is because i despise javascript because i think it's bloat. You can go read my articles below if you feel like it. This website is named the holographic ape because i thought the name sounded cool.
  </p>
{% endblock %}

