body {
    background-color: #282828;
    font-family: 'Noto Serif', serif;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #458588;
    text-shadow: 0.2em 0.2em  black;
    font-size: 3vw;
}

h2 {
    color: #d79921;
    text-shadow: 0.1em 0.1em black;
    font-size: 2.7vw;
}

h3 {
    color: #98971a;
    text-shadow: 0.1em 0.1em black;
    font-size: 2vw;
}

h4 {
    color: #d65d0e;
    text-shadow: 0.1em 0.1em black;
    font-size: 1.5vw;
}

p {
    color: #bdae93;
    margin-right: 20px;
    font-weight: lighter;
    font-size: 0.65em;
    text-shadow: 0px 0px black;
}

blockquote {
    color: #a89984;
    font-size: 2vw;
}

li {
    color: #b16286;
}

hr {
    border-color: #cc241d;

}

a {
    color: #689d6a;
}

ul.head {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.head {
    float: left; 
}

a.head {
    display: block;
    padding: 8px;
    color: #1d2021;
    background-color: #83a598;
    text-decoration: none;
    border: 10px;
}
