body {
    background-color: #282828;
    font-family: 'Noto Serif', serif;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #458588;
    text-shadow: 2px 2px black;
}

h2 {
    color: #d79921;
    text-shadow: 2px 2px black;

}

h3 {
    color: #98971a;
    text-shadow: 2px 2px black;
}

h4 {
    color: #d65d0e;
    text-shadow: 2px 2px black;
}

p {
    color: #bdae93;
    margin-right: 20px;
}

blockquote {
    color: #a89984;
}

li {
    color: #b16286;
}

hr {
    border-color: #cc241d;

}

a {
    color: #689d6a;
    /* text-shadow: 2px 2px black; */
}

ul.head {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.head {
    float: left; 
}

a.head {
    display: block;
    padding: 8px;
    color: #1d2021;
    background-color: #83a598;
    text-decoration: none;
    border: 10px;
}
